.ColorBox {
  width: 20%;
  height: 25%;
  display: flex;
  align-items: flex-end;
  font-family: "Quicksand", sans-serif;
  position: relative;
}

.ColorBox--info {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  width: 100%;
}

.ColorBox--link {
  text-decoration: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  padding: 2px 4px;
  font-weight: 700;
  border-radius: 5px;
}

.ColorBox--name {
  color: #ffffff;
  font-weight: 700;
}

.ColorBox--copy_container {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 25px);
}

.ColorBox--copy {
  display: none;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  padding: 5px 10px;
  font-size: 16px;
}

.ColorBox:hover .ColorBox--copy {
  display: block;
}
