.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  height: 8%;
  color: #212121;
}

.Footer--emoji {
  margin-right: 20px;
}

.Footer--name {
  margin-left: 20px;
}
