.Home {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
  flex-direction: column;
}
.Home--title {
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #1b3191;
}

.Home--mini_palettes {
  display: flex;
  flex-wrap: wrap;
}

.Home a {
  text-decoration: none;
  color: #424242;
}

.Home--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Home .Home--link {
  margin-right: 110px;
  font-family: "Quicksand", sans-serif;
  background: #1b3191;
  color: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 5px rgba(33, 33, 33, 0.5);
  transition: all 0.2s ease-in;
}
.Home .Home--link:hover {
  opacity: 0.8;
  box-shadow: 1px 2px 8px rgba(33, 33, 33, 0.5);
}

@media screen and (max-width: 600px) {
  .Home,
  .Home--mini_palettes {
    align-items: center;
    justify-content: center;
  }
}
