.SinglePalette--color_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100vh;
}

.SinglePalette--color_container .ColorBox {
  width: 20%;
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.SinglePalette--text {
  margin: 0 0 5px 10px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.SinglePalette--go_back {
  border: none;
  background: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #212121;
}
